In [1]:
import pandas as pd

In [7]:
data=pd.read_csv('xclara.csv')

In [8]:
data.head()

    Feature1   Feature2
0   2.072345  -3.241693
1  17.936710  15.784810
2   1.083576   7.319176
3  11.120670  14.406780
4  23.711550   2.557729

In [10]:
data.shape

(3000, 2)

In [11]:
import numpy as np

In [12]:
c1=data['Feature1'].values

In [13]:
c2=data['Feature2'].values

In [14]:
c1

array([ 2.072345, 17.93671 ,  1.083576, ..., 64.46532 , 90.72282 ,
       64.87976 ])

In [15]:
c2

array([ -3.241693,  15.78481 ,   7.319176, ..., -10.50136 , -12.25584 ,
       -24.87731 ])

In [16]:
df1=pd.DataFrame(c1)

In [20]:
df1.head()

           0
0   2.072345
1  17.936710
2   1.083576
3  11.120670
4  23.711550

In [22]:
from sklearn.cluster import KMeans